.App {
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  align-items: center;
  color: white;
  background-color: darkgoldenrod;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  font-size: smaller;
}
.question:hover  {
  cursor: pointer;
  box-shadow: 0 0.5rem 2.6rem 0 #282c34;
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
}
.question {
  border-style: dashed;
  border-width: thin;
  border-color:rgb(42, 8, 115);
  margin: 2px;
  padding: 2px;
  min-height: 20px;
}
.passage:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgba(52, 85, 154, 1);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
}
.passage {
  border-style: groove;
  border-color:rgb(42, 8, 115);
  border-width: 5px;
  max-height: 100px;
  width: 550px;
}
.btn {
  margin: 10px;
  padding: 5px;
  min-height: 50px;
  min-width: 150px;
  border-color: white;
  background-color:rgb(42, 8, 115);
  color: black;
}
.bertLink {
  font-size: x-small;
}
.input {
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media screen and (min-width: 880px) {
  .passage {
    max-height: 100px;
    width: 550px;
    flex-direction: row;
  }
  .btn {
    min-height: 150px;
    min-width: 250px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1250px) {
  .passage {
    max-height: 250px;
    width: 550px;
  }
  .btn {
    min-height: 50px;
    min-width: 150px;
  }
}